<table class="table table-hover table-condensed table-striped">
	<thead>
		<tr>	
			<th>ID</th>
			<th>Email </th>
			<th>Role </th>
			<th>Created at</th>
		</tr>
	</thead>

	<tbody>
		
		<% if @users.count == 0 %>
			<tr>
				<td colspan="6" class="danger">
					<p class="text-center text-default"><strong> No user registered.</strong></p>
				</td>
			</tr>
		<% end %>		

		<% @users.each do |user| %>
			<tr>
				<td>#<%= user.id %></td>
				<td><%= user.email %></td>
				<td><%= user.role.capitalize %></td>
				<td><%= user.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
